@page "/Technologies/CreateTechnology"
@model Synergy.WebApp.Pages.Technology.CreateTechnologyModel


<div class="row justify-content-center my-5">
    <div class="col-6">
        <div class="display-6 text-center">Create a Technology</div>
        <form method="post">

            <div class="form-group my-3">
                <input asp-for="CreateTechnology.Name" placeholder="Name" class="form-control" />
            </div>

            <div class="form-group my-3">
                <input asp-for="CreateTechnology.Description" placeholder="Description" class="form-control" />
            </div>

            <div class="form-group my-5">
                <button type="submit" class="btn btn-success">Save</button>
                <a asp-page="/Technology/GetTechnologies" class="btn btn-warning">Back</a>
            </div>
        </form>
    </div>
</div>
