@page "member"
@model Synergy.Web.Pages.Auth.GetUserByMemberModel


<style>
    span {
        font-style: oblique;
        font: bold;
    }
</style>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="card" style="border-radius: 15px; width:30rem">
            <div class="card-body text-center ">
                <div class="display-6 text-center my-4">Account</div>
                <p>Role: <span class="text-success">@Model.User.Role</span></p>
                @if (Model.User.Role == null)
                {
                    <a asp-page="/Auth/AssignRole" asp-route-userId="@Model.User.Id" class="btn btn-info btn-sm text-danger"> Assign Role</a>
                }
                else
                {

                    <a asp-page="/Auth/AssignRole" asp-route-userId="@Model.User.Id" class="btn btn-warning btn-sm text-danger"> Update Role</a>
                }

                <p class="my-3">Email: <span class="text-success">@Model.User.Email</span></p>

            </div>
            <div class="mt-2 align-items-center text-center">
                <a asp-page="/Auth/GetUsers" class="btn btn-warning btn-sm text-white">Back</a>
            </div>
        </div>
    </div>
</div>