@page "/register"
@model Synergy.Web.Pages.Auth.RegisterModel


<div class="row justify-content-center my-3">
    <div class="jumbotron-fluid text-center">
        <div class="display-3"><i class="fas fa-cube"></i> SYNERGY</div>
    </div>
</div>

<div class="row justify-content-center my-xl-4">
    <div class="card account-dialog">
        <div class="card-header bg-primary text-white text-center"> Sign Up </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Name</label>
                        <input type="text" asp-for="RegisterInput.GivenName" class="form-control" id="inputEmail4" placeholder="Name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Surname</label>
                        <input type="text" asp-for="RegisterInput.LastName" class="form-control" id="inputEmail4" placeholder="Surname">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" asp-for="RegisterInput.CreateUser.Email" class="form-control" id="inputEmail4" placeholder="Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Username</label>
                        <input type="text" asp-for="RegisterInput.CreateUser.Username" class="form-control" id="inputEmail4" placeholder="Username">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputPassword4">Password</label>
                        <input type="password" asp-for="RegisterInput.CreateUser.Password" class="form-control" id="inputPassword4" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" asp-for="RegisterInput.ContractDto.Address" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Phone</label>
                        <input type="text" asp-for="RegisterInput.ContractDto.PhoneNumber" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Title</label>
                        <select asp-for="RegisterInput.Title" id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputZip">Photo</label>
                        <input type="file" asp-for="RegisterInput.Photo" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>