@page "/Auth/Roles"
@model Synergy.WebApp.Pages.Auth.GetRolesModel

<div class="row col my-4">
    <div class="display-6 text-center text-black">Roles</div>
</div>

<div class="row justify-content-lg-end my-3">
    <div class="col-4">
        <a asp-page="/Auth/CreateRole" class="btn btn-primary btn-sm">Create</a>
    </div>
</div>

<div class="row my-4 justify-content-center">
    <div class="col-8 text-center">
        <table class="table table-hover table-striped table-responsive table-secondary">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Role</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Roles)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.RoleName</td>
                        <td>@item.Description</td>
                        <td>
                            <a asp-page="/Auth/UpdateRole" asp-route-roleId="@item.Id" class="btn btn-warning btn-sm">Update</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>