@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="alert" class="row justify-content-center">
    <div class="col-4">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success text-center" role="alert">@TempData["Success"]</div>
        }
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Synergy</h1>
</div>

@section Scripts{

    <script>
        $(document).ready(() => {
            $("#alert").hide(5000);
        });
    </script>

}