@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row justify-content-center" id="alert">
    @if (TempData["loginSuccess"] is not null)
    {
        <div class="col-3">
            <div class="alert alert-success" role="alert">
                @TempData["loginSuccess"]
            </div>
        </div>
    }
</div>

<div class="row row justify-content-center my-4">
    <div class="text-center">
        <h1 class="display-1 text-black">Synergy</h1>
        <h1 class="display-6 text-black">Software Project Management System</h1>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(() => {
            $("#alert").hide(3000);
        });
    </script>
}