@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center my-xxl-5">
    <div class="text-center">
        <h1 class="display-1">Synergy</h1>
        <h1 class="display-6">Software Project Management System</h1>
    </div>
</div>

