@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Synergy.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/easion.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Synergy.Web.styles.css" asp-append-version="true" />
</head>
<body>


    <div class="dash">

        <div class="dash-nav dash-nav-dark">
            <header>
                <a asp-page="/Index" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a asp-page="/Index" class="easion-logo"><i class="fas fa-cube"></i> <span>SYNERGY</span></a>
            </header>
            <nav class="dash-nav-list">
                <a asp-page="/Index" class="dash-nav-item">
                    <i class="fas fa-home"></i> Dashboard
                </a>
                @if (User.IsInRole("manager"))
                {
                    <a asp-page="/Project/GetProjects" class="dash-nav-item">
                        <i class="fa-solid fa-diagram-project"></i> Project Management
                    </a>
                    <a asp-page="/Team/GetTeams" class="dash-nav-item">
                        <i class="fas fa-people-group"></i> Team Management
                    </a>
                    <a asp-page="/Auth/GetUsers" class="dash-nav-item">
                        <i class="fas fa-user"></i> User Management
                    </a>
                    <a asp-page="/Auth/GetRoles" class="dash-nav-item">
                        <i class="fas fa-key"></i> Role Management
                    </a>
                    <a asp-page="/Technology/GetTechnologies" class="dash-nav-item">
                        <i class="fas fa-microchip"></i> Technology
                    </a>
                }
                <div class="dash-nav-dropdown ">
                    <a href="#!" class="dash-nav-item dash-nav-dropdown-toggle">
                        <i class="fas fa-cube"></i> Components
                    </a>
                    <div class="dash-nav-dropdown-menu">
                        <a href="cards.html" class="dash-nav-dropdown-item">Cards</a>
                        <a href="forms.html" class="dash-nav-dropdown-item">Forms</a>
                        <div class="dash-nav-dropdown ">
                            <a href="#" class="dash-nav-dropdown-item dash-nav-dropdown-toggle">Icons</a>
                            <div class="dash-nav-dropdown-menu">
                                <a href="icons.html" class="dash-nav-dropdown-item">Solid Icons</a>
                                <a href="icons.html#regular-icons" class="dash-nav-dropdown-item">Regular Icons</a>
                                <a href="icons.html#brand-icons" class="dash-nav-dropdown-item">Brand Icons</a>
                            </div>
                        </div>
                        <a href="stats.html" class="dash-nav-dropdown-item">Stats</a>
                        <a href="tables.html" class="dash-nav-dropdown-item">Tables</a>
                        <a href="typography.html" class="dash-nav-dropdown-item">Typography</a>
                        <a href="userinterface.html" class="dash-nav-dropdown-item">User Interface</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="#!" class="searchbox-toggle">
                    <i class="fas fa-search"></i>
                </a>
                <form class="searchbox" action="#!">
                    <a href="#!" class="searchbox-toggle">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <button type="submit" class="searchbox-submit">
                        <i class="fas fa-search"></i>
                    </button>
                    <input type="text"
                           class="searchbox-input"
                           placeholder="type to search" />
                </form>
                <div class="tools">
                    <a href="https://github.com/oznakdn"
                       target="_blank"
                       class="tools-item">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#!" class="tools-item">
                        <i class="fas fa-bell"></i>
                        <i class="tools-item-count">4</i>
                    </a>
                    <div class="dropdown tools-item">
                        <a href="#"
                           class=""
                           id="dropdownMenu1"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"
                             aria-labelledby="dropdownMenu1">
                            @if (User.Identity!.IsAuthenticated)
                            {
                                <a class="dropdown-item" asp-route-userId="@User.Claims.First(x=>x.Type == ClaimTypes.NameIdentifier).Value" asp-page="/Auth/GetProfile">Profile</a>
                                <a class="dropdown-item" asp-page="/Auth/Logout">Logout</a>
                            }
                            else
                            {
                                <a class="dropdown-item" asp-page="/Auth/Login">Login</a>
                            }

                        </div>
                    </div>
                </div>
            </header>
            <main class="dash-content">
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </main>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/easion.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>