@page "/Login"
@model Synergy.WebApp.Pages.User.LoginModel


<div class="row justify-content-center bg-dark">
    @if (ViewData["loginError"] is not null)
    {
        <div class="col-3">
            <div class="alert alert-danger" role="alert">
                @ViewData["loginError"]
            </div>
        </div>
    }
</div>
<div class="row justify-content-center bg-dark">
    @if (ViewData["error"] is not null)
    {
        <div class="col-3">
            <div class="alert alert-danger" role="alert">
                @ViewData["error"]
            </div>
        </div>
    }
    @if (ViewData["message"] is not null)
    {
        <div class="col-3">
            <div class="alert alert-success" role="alert">
                @ViewData["message"]
            </div>
        </div>
    }
</div>


<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row col">
                    <div class="display-6 text-center my-5">LOGIN</div>
                </div>
                <form method="post">
                    <div class="form-outline mb-4">
                        <input type="text" id="form2Example1" value="johndoe" asp-for="loginInput.Username" class="form-control" placeholder="Username" />
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="form2Example2" value="johndoe123" asp-for="loginInput.Password" class="form-control" placeholder="Password" />
                    </div>

                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="loginInput.RememberMe" checked />
                                <label class="form-check-label"> Remember me </label>
                            </div>
                        </div>

                        <div class="col">
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a class="btn btn-warning" href="/Register">Register</a></p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



